.App {
}

.main-body {
  text-align: center;
}

.image-container {
  position: absolute;
  text-align: center;
  color: white;
  top: 300px;
  left: 50%;
  transform: translate(-50%);
}

.App-intro {
    font-size: large;
}
