.history {
    text-align: left;
    width: 30vw;
    /*display: table-cell;*/
    margin: auto;
}

.input {
    /*position: relative;*/
    text-align: left;
    /*top: 50px;*/
    /*left: 50px;*/
    width: 30vw;
    position: relative;
    top: 0;
    /*display: table-cell;*/
}

#blog-field {
    margin: 0px 0px 20px 0px;
    padding: 10px 20px 10px 20px;
    position: relative;
    border: 1px solid #888;
    width: 30vw;
    overflow-wrap: break-word;
}

#list {
    top: 30px;
    width: 50vw;
}

.outer{
    width: 100%;
    position: relative;
}

.blog{
    display: flex;
    flex-direction: row;
    align-content: space-around;
    padding: 50px;

}
